PORT=3000
JWT_SECRET=super-secret-key-zame

# Database Configuration (MySQL / AWS RDS)
# If DB_HOST is omitted, Sequelize will automatically fall back to local SQLite database.
DB_HOST=
DB_PORT=3306
DB_NAME=zame_db
DB_USER=admin
DB_PASS=password123
